## ----------------- working with sets ----------------------

In [1]:
numbers = {1, 2, 1, 3, 2, 1, 3, 4, 2, 3, 4, 6, 76, 6, 8, 5, 3, 2, 4, 8, 0, 9}
print(numbers)
for i in numbers:
    print(i)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 76}
0
1
2
3
4
5
6
8
9
76

In [2]:
programming_language = ['python', 'java', 'c', 'C++',
                        'javascript', 'html', 'html', 'c', 'flask']
language_set = set(programming_language)
print(language_set)
print()

{'C++', 'javascript', 'c', 'flask', 'python', 'java', 'html'}

In [3]:
# update
language_set1 = {'ruby', 'python', 'java', 'sql', 'django'}
language_set1.update(language_set)
print(language_set1)

{'C++', 'javascript', 'c', 'flask', 'python', 'ruby', 'sql', 'java', 'django', 'html'}

In [4]:
# union
language_set.union(language_set1)
print(language_set)

{'C++', 'javascript', 'c', 'flask', 'python', 'java', 'html'}

In [5]:
# difference
print(language_set.difference(language_set1))
print(language_set1.difference(language_set))

set()
{'sql', 'django', 'ruby'}

In [7]:
# intersection
print(language_set.intersection(language_set1))

{'C++', 'javascript', 'c', 'flask', 'python', 'java', 'html'}

In [1]:
animal = {'goat', 'cow', 'bull', 'dog', 'cat'}
animal1 = {'elephant', 'tiger', 'cat', 'dog'}

# union
animal2 = animal1.union(animal)
print(animal2)

{'elephant', 'cow', 'goat', 'cat', 'dog', 'tiger', 'bull'}

In [2]:
# intersection
animal3 = animal.intersection(animal1)
print(animal3)

{'cat', 'dog'}

In [3]:
# update
update_set = animal.update(animal1)
print(update_set)
print()

None

In [4]:
# make a copy
new_animals = animal.copy()
print(new_animals)

{'cat', 'elephant', 'dog', 'tiger', 'cow', 'bull', 'goat'}

In [5]:
# empty set 
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [6]:
# add
empty_set.add('python')
print(empty_set)

{'python'}

In [7]:
# frozen set
a = frozenset([1, 2, 3, 4, 5])
print(a)

frozenset({1, 2, 3, 4, 5})