In [4]:
numbers = (1, 2, 3, 4, 5)
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [11]:
for number in numbers:
    print(number)

1
2
3
4
5

In [6]:
print(numbers[0])
print(f'length of numbers: {len(numbers)}')

1
length of numbers: 5

In [7]:
marks = ('samuel', 23, 'computer engineering', 'male', 'mark: 76')
print(marks[0])
for x in marks:
    print(x)

samuel
samuel
23
computer engineering
male
mark: 76

### ------------------ unpacking -----------------------

In [8]:
number = (1, 2, 3)
x, y, z = number

print(f'\nx = {x}')
print(f'y = {y}')
print(f'z = {z}')

x = 1
y = 2
z = 3

### -------------- tuple to a list -----------------

In [9]:
list_num = list(numbers)
print(f'\nlist {list_num}')
print(f'tuple {numbers}')

list [1, 2, 3, 4, 5]
tuple (1, 2, 3, 4, 5)

### ------------- join tuples -------------------

In [10]:
num1 = (1, 2, 3)
num2 = (4, 5, 6)
num3 = num1 + num2
print(f'\n {num1} + {num2} = {num3}')

 (1, 2, 3) + (4, 5, 6) = (1, 2, 3, 4, 5, 6)